
body {
	font-size: 13px;
	font-family: Verdana;
	color: #275658;
	text-align: left;
}

div#loadingDiv {
	position: fixed;
	_position: absolute;
	left:0;
	top:0;
	display: none;
	padding-left: 650px;
	padding-top: 50px;
	
}

input.small {
	width:30px;
}

 input[type=submit],input[type=button], input[type=reset]{
	width: 100px;
	height: 28px;
	border-radius: 50px;
	background-color: 
}


input, select {
	width:150px;
	height:22px;
	color: #275658;
	background-color: #E9EBF5;
	border: 1px solid #275658;
}


ul,li {
	list-style: none;
	padding: 0;
	margin: 0 0 0 10px;
	line-height: 22px;
	border-bottom: 1px #DDD dashed;
}

table.color{
	border-collapse:collapse;
}

th{
	padding: 3px;
	text-align: center;
	background-color: #0AA;
	color: #F0F8FF;
	font-size: 14px;
}

input.readonly, input.requiredAmount{
	border: none;
	background-color: transparent;
}

td {
	padding:3px;
	font-size: 14px;
	text-align:left;
}

td#actionrow{
	text-align: center;
}

td#cancelationbtn{
	text-align: center;
	
}

table.color tr td {
	border: 1px solid gray;
}

table.color tr.odd, table.xform tr.odd {
	
	background-color: #d2cbcb;
}

a {
	font-family: Verdana;
	text-decoration: underline;
	color: #000000;
}

a:hover {
	text-decoration: underline;
	background-color: #ff0;
}

table.xform tr td {
	padding:3px;
	font-size:14px;
}

table.xform tr td input {
	height:22px;
	font-size:14px;
}

table.xform tr td input[type=submit],table.xform tr td input[type=button], #addRow, table.xform tr td select {
	height:28px;
	width:100px;
	font-size:14px;
	padding:5px;
}

table.color tr.odd, table.yform tr.odd {
	
	background-color: #d2cbcb;
}

